.tweetBox {
  padding-bottom: 10px;
  padding-right: 10px;

  & > form {
    display: flex;
    flex-direction: column;
  }

  &_input {
    display: flex;
    padding: 20px 20px 0 20px;
  }

  &_field {
    flex: 1;
    margin-left: 20px !important;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  &_icons {
    margin-top: 16px;
    color: var(--twitter-color);

    & > * {
      margin-right: 8px;
    }

    & > Button {
      background-color: var(--twitter-color) !important;
      border: none !important;
      color: #fff !important;
      font-weight: 900 !important;
      text-transform: inherit !important;
      border-radius: 30px !important;
      height: 35px !important;
      width: 80px !important;
      float: right;
      left: 16px;
    }
  }
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border: none !important;
}
