.widgets {
  flex: 0.3;

  &__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;

    & > h2 {
      font-size: 18px;
      font-weight: 800;
    }
  }
}

.widgets .widgets .widgets__searchIcon {
  color: gray;
}
